[submodule "Java-Program_San-Lee"]
	path = Java-Program_San-Lee
	url = https://github.com/San234/Java-Program_San-Lee
[submodule "Quan_Nguyen"]
	path = Quan_Nguyen
	url = https://github.com/quan41/Quan_Nguyen
[submodule "Brian_Kang"]
	path = Brian_Kang
	url = https://github.com/Kangb6187/Brian_Kang
[submodule "MAILYNN_EVANGELISTA"]
	path = MAILYNN_EVANGELISTA
	url = https://github.com/mailynnjoyce/MAILYNN_EVANGELISTA
[submodule "Issac_Spivak"]
	path = Issac_Spivak
	url = https://github.com/issacspivak/Issac_Spivak
[submodule "Lauren_Zhang"]
	path = Lauren_Zhang
	url = https://github.com/laurenzhangg/Lauren_Zhang
[submodule "KIARA_MCNULTY"]
	path = KIARA_MCNULTY
	url = https://github.com/kiaramcnulty/KIARA_MCNULTY
[submodule "JACK_BEHREND"]
	path = JACK_BEHREND
	url = https://github.com/jackbehrend/JACK_BEHREND
[submodule "Kyle_Xiao"]
	path = Kyle_Xiao
	url = https://github.com/kx1999/Kyle_Xiao
[submodule "Leon-Chen-AP"]
	path = Leon-Chen-AP
	url = https://github.com/doubleapple123/Leon-Chen-AP
[submodule "seanwu368"]
	path = seanwu368
	url = https://github.com/seanwu368/seanwu368
[submodule "Eric_LIn"]
	path = Eric_LIn
	url = https://github.com/Eric666Lin/Eric_LIn
[submodule "Will_Nute"]
	path = Will_Nute
	url = https://github.com/willnute/Will_Nute
[submodule "Christine_Kim"]
	path = Christine_Kim
	url = https://github.com/christinekim1/Christine_Kim
