[submodule "Java-Program_San-Lee"]
	path = Java-Program_San-Lee
	url = https://github.com/San234/Java-Program_San-Lee
[submodule "Quan_Nguyen"]
	path = Quan_Nguyen
	url = https://github.com/quan41/Quan_Nguyen
[submodule "Brian_Kang"]
	path = Brian_Kang
	url = https://github.com/Kangb6187/Brian_Kang
[submodule "MAILYNN_EVANGELISTA"]
	path = MAILYNN_EVANGELISTA
	url = https://github.com/mailynnjoyce/MAILYNN_EVANGELISTA
[submodule "Issac_Spivak"]
	path = Issac_Spivak
	url = https://github.com/issacspivak/Issac_Spivak
