[submodule "BEHREND_JACK"]
	path = BEHREND_JACK
	url = https://github.com/jackbehrend/BEHREND_JACK
[submodule "Brigandi_Maddie"]
	path = Brigandi_Maddie
	url = https://github.com/maddiebrigandi/Brigandi_Maddie
[submodule "Chen_Leon"]
	path = Chen_Leon
	url = https://github.com/doubleapple123/Chen_Leon
[submodule "RUSHER_DEREK"]
	path = RUSHER_DEREK
	url = https://github.com/DerekRusher/RUSHER_DEREK
[submodule "Hornilla_Joshua"]
	path = Hornilla_Joshua
	url = https://github.com/Opwoa/Hornilla_Joshua
[submodule "Kang_Brian"]
	path = Kang_Brian
	url = https://github.com/Kangb6187/Kang_Brian
[submodule "Kim_Christine"]
	path = Kim_Christine
	url = https://github.com/christinekim1/Kim_Christine
[submodule "Quan_Nguyen"]
	path = Quan_Nguyen
	url = https://github.com/quan41/Quan_Nguyen
[submodule "Rasmussen_Eric"]
	path = Rasmussen_Eric
	url = https://github.com/RasmussenEric/Rasmussen_Eric
[submodule "Issac_Spivak"]
	path = Issac_Spivak
	url = https://github.com/issacspivak/Issac_Spivak
[submodule "VOSS_MEGHAN"]
	path = VOSS_MEGHAN
	url = https://github.com/meghanvoss/VOSS_MEGHAN
[submodule "Wu_Sean"]
	path = Wu_Sean
	url = https://github.com/seanwu368/Wu_Sean
[submodule "Xiao_Kyle"]
	path = Xiao_Kyle
	url = https://github.com/kx1999/Xiao_Kyle
[submodule "Yoon_Alessandra"]
	path = Yoon_Alessandra
	url = https://github.com/alessandrayoon/Yoon_Alessandra
[submodule "Jason_Zhan"]
	path = Jason_Zhan
	url = https://github.com/zhanj8512/Jason_Zhan
[submodule "Zhang_Lauren"]
	path = Zhang_Lauren
	url = https://github.com/laurenzhangg/Zhang_Lauren
[submodule "Zhao_Xuyang"]
	path = Zhao_Xuyang
	url = https://github.com/XuyangZhao01/Zhao_Xuyang
[submodule "Yuhao_Zhuang"]
	path = Yuhao_Zhuang
	url = https://github.com/YuhaoZhuang/Yuhao_Zhuang
[submodule "Gangiredla_Deepthi"]
	path = Gangiredla_Deepthi
	url = https://github.com/deepthigg/Gangiredla_Deepthi
[submodule "MCNULTY_KIARA"]
	path = MCNULTY_KIARA
	url = https://github.com/kiaramcnulty/MCNULTY_KIARA
[submodule "Epstein_Michael"]
	path = Epstein_Michael
	url = https://github.com/mepstein3639/Epstein_Michael
[submodule "EVANGELISTA_MAILYNN"]
	path = EVANGELISTA_MAILYNN
	url = https://github.com/mailynnjoyce/EVANGELISTA_MAILYNN
[submodule "Giedd_Jacob"]
	path = Giedd_Jacob
	url = https://github.com/JacobGiedd/Giedd_Jacob
[submodule "Hammer_Keith"]
	path = Hammer_Keith
	url = https://github.com/Its-Hammertime/Hammer_Keith
[submodule "CHANG_KATHLEEN"]
	path = CHANG_KATHLEEN
	url = https://github.com/kathleenchang/CHANG_KATHLEEN
[submodule "Joshi_Rachana"]
	path = Joshi_Rachana
	url = https://github.com/joshir7768/Joshi_Rachana
[submodule "ROHITH_KODUKULA"]
	path = ROHITH_KODUKULA
	url = https://github.com/MagicMan123/ROHITH_KODUKULA
[submodule "Kamrud_Brett"]
	path = Kamrud_Brett
	url = https://github.com/brkamrud/Kamrud_Brett
[submodule "Kan_Reagan"]
	path = Kan_Reagan
	url = https://github.com/reagankan/Kan_Reagan
[submodule "Lin_Eric"]
	path = Lin_Eric
	url = https://github.com/Eric666Lin/Lin_Eric
[submodule "Lee_San"]
	path = Lee_San
	url = https://github.com/San234/Lee_San
[submodule "Nute_Will"]
	path = Nute_Will
	url = https://github.com/willnute/Nute_Will
[submodule "You_Carine"]
	path = You_Carine
	url = https://github.com/carineyou/You_Carine
[submodule "yeh_Ethan"]
	path = yeh_Ethan
	url = https://github.com/yehe7777/yeh_Ethan
[submodule "Parsons_Derek"]
	path = Parsons_Derek
	url = https://github.com/DerekParson/Parsons_Derek
[submodule "Rosenthal_Natasha"]
	path = Rosenthal_Natasha
	url = https://github.com/tashirosenthal/Rosenthal_Natasha
[submodule "Zhan_Jason"]
	path = Zhan_Jason
	url = https://github.com/zhanj8512/Zhan_Jason
